################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/net/packages
/net/samples/ConsoleApp1/obj
/net/samples/ConsoleApp1/bin/Debug/net7.0
/net/samples/heima/heimawebapi/bin/Debug/net6.0
/net/samples/heima/heimawebapi/obj
/net/samples/IdentityServer.sample/1.IdentityServer.ClientCredentials/API/bin/Debug/net5.0
/net/samples/IdentityServer.sample/1.IdentityServer.ClientCredentials/API/obj
/net/samples/IdentityServer.sample/1.IdentityServer.ClientCredentials/Client/bin/Debug/net5.0
/net/samples/IdentityServer.sample/1.IdentityServer.ClientCredentials/Client/obj
/net/samples/IdentityServer.sample/1.IdentityServer.ClientCredentials/IdentityServer/bin/Debug/net5.0
/net/samples/IdentityServer.sample/1.IdentityServer.ClientCredentials/IdentityServer/obj
/net/samples/IdentityServer.sample/2.IdentityServer.ResourceOwnerPassword/API/bin/Debug/net5.0
/net/samples/IdentityServer.sample/2.IdentityServer.ResourceOwnerPassword/API/obj
/net/samples/IdentityServer.sample/2.IdentityServer.ResourceOwnerPassword/Client/bin/Debug/net5.0
/net/samples/IdentityServer.sample/2.IdentityServer.ResourceOwnerPassword/Client/obj
/net/samples/IdentityServer.sample/2.IdentityServer.ResourceOwnerPassword/IdentityServer/bin/Debug/net5.0
/net/samples/IdentityServer.sample/2.IdentityServer.ResourceOwnerPassword/IdentityServer/obj
/net/samples/IdentityServer.sample/3.IdentityServer.Implicit/IdentityServer/bin/Debug/net5.0
/net/samples/IdentityServer.sample/3.IdentityServer.Implicit/IdentityServer/obj
/net/samples/IdentityServer.sample/3.IdentityServer.Implicit/MvcClient/bin/Debug/net5.0
/net/samples/IdentityServer.sample/3.IdentityServer.Implicit/MvcClient/obj
/net/samples/IdentityServer.sample/4.IdentityServer.AuthorizationCode/API/bin/Debug/net5.0
/net/samples/IdentityServer.sample/4.IdentityServer.AuthorizationCode/API/obj
/net/samples/IdentityServer.sample/4.IdentityServer.AuthorizationCode/IdentityServer/bin/Debug/net5.0
/net/samples/IdentityServer.sample/4.IdentityServer.AuthorizationCode/IdentityServer/obj
/net/samples/IdentityServer.sample/1.IdentityServer.ClientCredentials/API/bin
/net/tests/Imtudou.Core.Sample.Test/bin/Debug/net5.0
/net/tests/Imtudou.Core.Sample.Test/obj
/net/samples/lucene.net/LuceneDemo/obj
/net/samples/rabbitmq/1.helloword/01.Rabbitmq.Producer/bin/Debug/net6.0
/net/samples/rabbitmq/1.helloword/01.Rabbitmq.Producer/obj
/net/samples/rabbitmq/2.workqueue/02.WorkQueue.Consumer/bin/Debug/net6.0
/net/samples/rabbitmq/2.workqueue/02.WorkQueue.Consumer/obj
/net/samples/rabbitmq/2.workqueue/02.WorkQueue.Producer/bin/Debug/net6.0
/net/samples/rabbitmq/2.workqueue/02.WorkQueue.Producer/obj
/net/samples/rabbitmq/3.ackqueue/AckQueue.Consumer1/bin/Debug/net6.0
/net/samples/rabbitmq/3.ackqueue/AckQueue.Consumer1/obj
/net/samples/rabbitmq/3.ackqueue/AckQueue.Consumer2/bin/Debug/net6.0
/net/samples/rabbitmq/3.ackqueue/AckQueue.Consumer2/obj
/net/samples/rabbitmq/3.ackqueue/AckQueue.Producer/bin/Debug/net6.0
/net/samples/rabbitmq/3.ackqueue/AckQueue.Producer/obj
/net/samples/rabbitmq/4.publishconfirm/PublishConfirm.Producer/bin/Debug/net6.0
/net/samples/rabbitmq/4.publishconfirm/PublishConfirm.Producer/obj
/net/samples/rabbitmq/5.exchange/Exchange.Consumer/bin/Debug/net6.0
/net/samples/rabbitmq/5.exchange/Exchange.Consumer/obj
/net/samples/rabbitmq/5.exchange/Exchange.Producer/bin/Debug/net6.0
/net/samples/rabbitmq/5.exchange/Exchange.Producer/obj
/net/samples/rabbitmq/6.dead_exchange/Exchange.Consumer1/bin/Debug/net6.0
/net/samples/rabbitmq/6.dead_exchange/Exchange.Consumer1/obj
/net/samples/rabbitmq/6.dead_exchange/Exchange.Consumer2/bin/Debug/net6.0
/net/samples/rabbitmq/6.dead_exchange/Exchange.Consumer2/obj
/net/samples/rabbitmq/6.dead_exchange/Exchange.Producer/bin/Debug/net6.0
/net/samples/rabbitmq/6.dead_exchange/Exchange.Producer/obj
/net/samples/rabbitmq/7.ttl_exchange/TTLExchange/bin/Debug/net6.0
/net/samples/rabbitmq/7.ttl_exchange/TTLExchange/obj
/net/samples/rabbitmq/7.ttl_exchange/TTLExchange.Consumer/bin/Debug/net6.0
/net/samples/rabbitmq/7.ttl_exchange/TTLExchange.Consumer/obj
/net/samples/rabbitmq/7.ttl_exchange/TTLExchange.Producer/bin/Debug/net6.0
/net/samples/rabbitmq/7.ttl_exchange/TTLExchange.Producer/obj
/net/samples/rabbitmq/8.publishconfirmadvanced/PublishConfirm.Consumer/bin/Debug/net6.0
/net/samples/rabbitmq/8.publishconfirmadvanced/PublishConfirm.Consumer/obj
/net/samples/rabbitmq/8.publishconfirmadvanced/PublishConfirm.Producer/bin/Debug/net6.0
/net/samples/rabbitmq/8.publishconfirmadvanced/PublishConfirm.Producer/obj
/net/samples/rabbitmq/8.publishconfirmadvanced/PublishConfirmAdvanced/bin/Debug/net6.0
/net/samples/rabbitmq/8.publishconfirmadvanced/PublishConfirmAdvanced/obj
/net/samples/rabbitmq/common/rabbitmq.common/bin/Debug/net6.0
/net/samples/rabbitmq/common/rabbitmq.common/obj
/net/src/Core/Imtudou.Core/bin
/net/src/Core/Imtudou.Core/obj
/net/src/Core/Imtudou.Core.Cache/bin
/net/src/Core/Imtudou.Core.Cache/obj
/net/src/Core/Imtudou.Core.CommonEnum/bin/Debug/net5.0
/net/src/Core/Imtudou.Core.CommonEnum/obj
/net/src/Core/Imtudou.Core.CommonModel/bin/Debug/net5.0
/net/src/Core/Imtudou.Core.CommonModel/obj
/net/src/Core/Imtudou.Core.Data/bin/Debug/net5.0
/net/src/Core/Imtudou.Core.Data/obj
/net/src/Core/Imtudou.Core.DependencyInjection/bin/Debug/net5.0
/net/src/Core/Imtudou.Core.DependencyInjection/obj
/net/src/Core/Imtudou.Core.Extensions/bin
/net/src/Core/Imtudou.Core.Extensions/obj
/net/src/Core/Imtudou.Core.Http/bin/Debug/net5.0
/net/src/Core/Imtudou.Core.Http/obj
/net/src/Core/Imtudou.Core.Logs/obj
/net/src/Core/Imtudou.Core.Logs/bin
/net/src/Core/Imtudou.Core.Scheduler/obj
/net/src/Core/Imtudou.Core.Scheduler/bin/Debug/net5.0
/net/src/Service/01.IdentityServer/Imtudou.IdentityServer.Application/obj
/net/src/Service/01.IdentityServer/Imtudou.IdentityServer.Application/bin/Debug/net5.0
/net/src/Service/01.IdentityServer/Imtudou.IdentityServer.Domin/obj
/net/src/Service/01.IdentityServer/Imtudou.IdentityServer.Domin/bin/Debug/net5.0
/net/src/Service/01.IdentityServer/Imtudou.IdentityServer.Infrastructure/obj
/net/src/Service/01.IdentityServer/Imtudou.IdentityServer.Infrastructure/bin/Debug/net5.0
/net/src/Service/01.IdentityServer/Imtudou.IdentityServer.WebAPI/obj
/net/src/Service/01.IdentityServer/Imtudou.IdentityServer.WebAPI/bin
/net/src/Service/02.ProductServer/Imtudou.ProductServer.Web/obj
/net/src/Service/02.ProductServer/Imtudou.ProductServer.WebAPI/bin/Debug/net5.0
/net/src/Service/02.ProductServer/Imtudou.ProductServer.WebAPI/obj
/net/src/Service/03.OrderServer/Imtudou.OrderServer.WebAPI/bin/Debug/net6.0
/net/src/Service/03.OrderServer/Imtudou.OrderServer.WebAPI/obj
/net/tests/Imtudou.Core.Cache.Test/bin
/net/tests/Imtudou.Core.Cache.Test/obj
/net/tests/Imtudou.Core.Data.Test/bin/Debug/net5.0
/net/tests/Imtudou.Core.Data.Test/obj
/net/tests/Imtudou.Core.Log.Test/bin
/net/tests/Imtudou.Core.Log.Test/obj
/net/tools/WindowsForm/bin/Debug
/net/tools/WindowsForm/obj
