<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="directory" value="D:\imtudou.microservices.log\Imtudou.ProductServer.log"/>
	<targets async="true">
    <target name="InfoFile" xsi:type="File" FileName="${directory}\${date:format=yyyy}\${date:format=MM}\${date:format=dd}\${date:format=yyyyMMdd_HH}_info.txt"
      archiveFileName="${directory}\${date:format=yyyy}\${date:format=MM}\${date:format=dd}\Archives\${date:format=yyyyMMdd_HH}_info_{####}.txt"
      archiveAboveSize="10240000"
      archiveNumbering="Sequence"
      concurrentWrites="true"
      keepFileOpen="false">
    </target>
    <target name="WarnFile" xsi:type="File" FileName="${directory}\${date:format=yyyy}\${date:format=MM}\${date:format=dd}\${date:format=yyyyMMdd_HH}_warn.txt"
      archiveFileName="${directory}\${date:format=yyyy}\${date:format=MM}\${date:format=dd}\Archives\${date:format=yyyyMMdd_HH}_warn_{####}.txt"
      archiveAboveSize="10240000"
      archiveNumbering="Sequence"
      concurrentWrites="true"
      keepFileOpen="false">
    </target>
    <target name="ErrorFile" xsi:type="File" FileName="${directory}\${date:format=yyyy}\${date:format=MM}\${date:format=dd}\${date:format=yyyyMMdd_HH}_error.txt"
      archiveFileName="${directory}\${date:format=yyyy}\${date:format=MM}\${date:format=dd}\Archives\${date:format=yyyyMMdd_HH}_error_{####}.txt"
      archiveAboveSize="10240000"
      archiveNumbering="Sequence"
      concurrentWrites="true"
      keepFileOpen="false">
    </target>
  </targets>
  <rules>
    <logger name="*" level="Info" writeTo="InfoFile"/>
    <logger name="*" level="Warn" writeTo="WarnFile"/>
    <logger name="*" level="Error" writeTo="ErrorFile"/>
  </rules>
</nlog>
